[submodule "custom/plugins/conda-zsh-completion"]
	path = custom/plugins/conda-zsh-completion
	url = https://github.com/esc/conda-zsh-completion
[submodule "custom/plugins/fast-syntax-highlighting"]
	path = custom/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule "custom/plugins/zsh-autosuggestions"]
	path = custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
